{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ], //ts 配置
    ["@babel/plugin-proposal-class-properties"], //ts配置
    ["@babel/plugin-transform-runtime"],
    ["import", {
      "libraryName": "vant",
      "libraryDirectory": "es",
      "style": true
    }, "vant"]
  ]
}
